@font-face {
    font-family: Roboto Condensed;
    src: url(RobotoCondensed-Regular.ttf);
}



body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family:'Roboto Condensed', sans-serif;
    background-color: #ededed;
}
.wrapper {
    min-height: 100%;
    position: relative;
}

header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-size: cover;
}
.container {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}
.bg_blue {
    background-color: #347eca;
}
.bg_white {
    background-color: #ffffff;
}
.bg_dark {
    background-color: #4b4b4b;;
}
#headerInside {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: #347eca;
}
#logo {
    background: url('logo.png') no-repeat;
    background-size: contain;
    width: 54px;
    height: 54px;
    margin: 13px;
    float: left;
}
#companyName {
    float: left;
    margin-left: 15px;
    color: #fff;
    line-height: 80px;
    font-size: 22px;
}
#login {
    width: 130px;
    height: 80px;
    background-color: #2f70b2;
    float: right;
    line-height: 80px;
    font-size: 18px;
    color: #e7e6e6;
    padding-left: 20px;
}
#nav_button {
    display: none;
    height: 54px;
    width: 54px;
    background: url(menu_icon.png) no-repeat;
}

#menu ul {
    line-height: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu a {
    color: #000;
    font-size: 16px;
    display: block;
    padding: 0 10px;
    text-decoration: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
#menu a:hover {
    text-decoration: none;
    color: #bdc7ca;
    border-bottom: 2px solid #347eca;
}
h1 {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    margin: 0 0 15px 0;
    text-align: left;
}
.content {
    margin-top: 15px;
    padding: 30px;
}
.footer {
    height: 100px;
    width: 100%;
    padding-top: 30px;
    margin-top: 15px;
    color: #fff;
    background-color: #4b4b4b;
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer_copy {
    height: 47px;
    position: absolute;
    bottom: 0;
    color: #dad9d9;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    width: 100%;
}
.social_menu {
    width: 120px;
    height: 47px;
    float: right;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
    .social_menu li {
        display: block;
        float: left;
        width: 16px;
        height: 16px;
        list-style-type: none;
    }
    .social_menu img {
        vertical-align: top;
    }



@media screen and (max-width: 768px) {
    #login {
        display: none;
    }
    #companyName {
        display: none;
    }
    #nav_button {
        display: block;
        position: fixed;
        top: 15px;
        margin: 0 45%;
    }
    #menu ul {
        width: 100%;
        position: fixed;
        top: 70px;
        padding-left: 0;
        z-index: 1;
        display: none;

    }
    #menu:hover ul {
        display: list-item;
        background: #dad9d9;
    }
}